anyio==3.3.4
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
click==8.0.3
distlib==0.3.2
fastapi==0.70.0
filelock==3.0.12
h11==0.12.0
idna==3.3
Jinja2==3.0.2
MarkupSafe==2.0.1
platformdirs==2.3.0
pydantic==1.8.2
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn==0.15.0
virtualenv==20.7.2
